* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
  font-family: poppins;
}
body {
  width: 100%;
  height: 100%;
  background-color: #ff931e;
}

:root {
  --brand: #3c7877;
  --brand-dark: #111c52;
}
/* .parent { h645+w80%+p40+psa+t50%+left50%+transform:translate-50%-50% }*/
.parent {
  height: 80%;
  width: 80%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* position: relative; */
  box-shadow: 5px 5px 50px black;
}

.parent::before {
    content: "";
    /* psa+t0+l0+w100%+h100%+bgi-url+bgr-nr+bgp-center+bgs-c+z-1}  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/rb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
